build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
*.lo
*.la
Makefile
tools/dbus-cleanup-sockets
tools/dbus-launch
tools/dbus-monitor
tools/dbus-send
tools/dbus-uuidgen
*.deps
*.libs
Doxyfile
bus/dbus-daemon
bus/dbus-daemon-launch-helper
bus/dbus-daemon-launch-helper-test
bus/dbus.service
bus/dbus.socket
bus/messagebus
bus/messagebus-config
bus/org.freedesktop.dbus-session.plist
bus/rc.messagebus
bus/session.conf
bus/system.conf
config.h
config.status
dbus-1.pc
debian/cdbs-install-list
debian/cdbs-package-list
debian/*.substvars
debian/dbus/
debian/files
debian/*.debhelper
debian/libdbus-1-0-dbg/
debian/libdbus-1-0/
debian/libdbus-1-dev/
debian/stamp-*
debian/tmp/
dbus/dbus-arch-deps.h
dbus/versioninfo.rc
doc/api/
doc/dbus-daemon.1
doc/doxygen.stamp
libtool
stamp-h1
test/data/invalid-service-files-system/*.service
test/data/valid-config-files-system/*.conf
test/data/valid-config-files/*.conf
test/data/valid-service-files-system/*.service
test/data/valid-service-files/*.service
autom4te.cache
Makefile.in
aclocal.m4
config.guess
config.guess.cdbs-orig
config.sub
config.sub.cdbs-orig
configure
depcomp
install-sh
ltmain.sh
missing
