.*.sw?
*.orig
*.rej
*.o
*~
compile
config.cache
config.log
config.status
config.sub
cscope.out
depcomp
*.pc
install-sh
libtool
ltmain.sh
missing
/m4/lt*.m4
/m4/libtool.m4
stamp-h1
stamp-h
stamp-h.in
Doxyfile
aclocal.m4
autom4te.cache
config.guess
config.h
*.bb
*.bbg
*.da
*.gcov
*.gcda
*.gcno
tags
/dbus-1.*/
/dbus-1.*.tar.*
/lcov.html/
/lcov.info
/lcov.info.tmp
