Source: dbus
Section: devel
Priority: optional
Maintainer: Jayoun Lee <airjany@samsung.com>, Sewook Park <sewook7.park@samsung.com>, Jaeho Lee <jaeho81.lee@samsung.com>, Venkatesha Sarpangala <sarpangala.v@samsung.com>
Build-Depends: cdbs (>= 0.4.43),
               debhelper (>= 5.0.37.2),
               autotools-dev, libsm-dev,
               libexpat-dev | libexpat1-dev

Package: dbus
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Conflicts: libdbus0,
           dbus-1,
           dbus-1-utils (<< 1.0.2-5),
           libdbus-1-1
Replaces: libdbus0,
          dbus-1,
          dbus-1-utils (<< 1.0.2-5)
Provides: dbus-1-utils
Description: simple interprocess messaging system
 D-Bus is a message bus, used for sending messages between applications.
 Conceptually, it fits somewhere in between raw sockets and CORBA in
 terms of complexity.
 .
 D-Bus supports broadcast messages, asynchronous messages (thus
 decreasing latency), authentication, and more. It is designed to be
 low-overhead; messages are sent using a binary protocol, not using
 XML. D-Bus also supports a method call mapping for its messages, but
 it is not required; this makes using the system quite simple.
 .
 It comes with several bindings, including GLib, Python, Qt and Java.
 .
 This package contains the D-Bus daemon and related utilities.
 .
 The client-side library can be found in the libdbus-1-0 package, as it is no
 longer contained in this package.

Package: libdbus-1-0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: dbus
Section: libs
Conflicts: dbus (<< 0.60)
Description: simple interprocess messaging system
 D-Bus is a message bus, used for sending messages between applications.
 Conceptually, it fits somewhere in between raw sockets and CORBA in
 terms of complexity.
 .
 D-Bus supports broadcast messages, asynchronous messages (thus
 decreasing latency), authentication, and more. It is designed to be
 low-overhead; messages are sent using a binary protocol, not using
 XML. D-Bus also supports a method call mapping for its messages, but
 it is not required; this makes using the system quite simple.
 .
 It comes with several bindings, including GLib, Python, Qt and Java.
 .
 The daemon can be found in the dbus package.

Package: libdbus-1-dev
Section: devel
Architecture: any
Depends: libdbus-1-0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
         pkg-config
Conflicts: dbus-1-dev
Replaces: libdbus0-dev,
          dbus-1-dev
Description: simple interprocess messaging system (development headers)
 D-Bus is a message bus, used for sending messages between applications.
 Conceptually, it fits somewhere in between raw sockets and CORBA in
 terms of complexity.
 .
 See the dbus description for more information about D-Bus in general.

Package: libdbus-1-0-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: libdbus-1-0 (= ${binary:Version}),
         ${misc:Depends}
Description: simple interprocess messaging system (debug symbols)
 This package provides support for debugging programs that use the dbus.
