
#
# This is the D-Bus socket for the session bus
#

[Unit]
Description=D-Bus Session Message Bus Socket
ConditionPathExists=!/dev/kdbus/%U-user/bus

[Socket]
ListenStream=%t/dbus/user_bus_socket
